<div class="container">
  <h1>All our restaurants</h1>
  <%= link_to "Create new restaurant", new_restaurant_path , class:"btn btn-danger" %>
  <div class="restaurants">
    <div class="row">
      <% @restaurants.each do |restaurant| %>
        <div class="col-xs-4">
          <%= render "restaurant", restaurant: restaurant %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="restaurants">
    <h2>Browse by category</h2>
    

    <% @restaurants_grouped_by_categories.each do |category, restaurants| %>
      <h4><%= category.capitalize %> restaurants</h4>
      <div class="row">
        <% restaurants.each do |restaurant| %>
          <div class="col-xs-4">
            <%= render "restaurant", restaurant: restaurant %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>